@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&display=swap&subset=japanese');
@import './variables.scss';

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $BASE_FONT_SIZE;
  font-weight: 400;
  line-height: 2;
  color: $GRAY;
  background-color: $WHITE;
}

a {
  &:link, &:visited {
    color: $DARK_SKY;
    text-decoration: underline;
    transition: color 0.5s ease-in;
  }

  &:hover {
    color: $LIGHT_SKY;
    transition: color 0.1s ease-in;
  }

  &:active, &:focus {
    color: $SKY;
  }
}

p {
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
