@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import './variables.scss';

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $BASE_FONT_SIZE;
  color: $FONT_COLOR;
  background-color: $BACKGROUND_COLOR;
  line-height: 1.4;
}

