@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import './variables.scss';

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $BASE_FONT_SIZE;
  line-height: 1.4;
  color: $GRAY;
  background-color: $WHITE;
}

a {
  &:link, &:visited {
    color: $DARK_SKY;
    text-decoration: underline;
    transition: color 0.5s ease-in;
  }

  &:hover {
    color: $LIGHT_SKY;
    transition: color 0.1s ease-in;
  }

  &:active, &:focus {
    color: $SKY;
  }
}