$BASE_FONT_SIZE: 18px; // 1.0 rem

$WIDTH_L: 1280px;
$WIDTH_M: 960px;
$WIDTH_S: 480px;


@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point - 1px) {
    @content;
  }
}


$tiny-font-size: 0.6666rem;
$x-small-font-size: 0.7777rem;
$small-font-size: 0.8888rem;
$normal-font-size: 1.0rem;
$large-font-size: 1.1111rem;
$x-large-font-size: 1.3333rem;
$huge-font-size: 1.6666rem;
$x-huge-font-size: 2.3333rem;

$REAL_WHITE: #ffffff;
$WHITE: #fafdfa;
$LIGHT_GRAY: #8888a1;
$GRAY: #444454;
$DARK_GRAY: #282838;
$BLACK: #111121;
$REAL_BLACK: #000000;

$DARK_ORANGE: #b26104;
$ORANGE: #ff8d0c;
$LIGHT_ORANGE: #ff9926;
$SKY: #007fb2;
$LIGHT_SKY: #0cb9ff;
$DARK_SKY: #035b7e;

$header-height: 54px;
$post-meta-stickey-height: 36px;